doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title examenes
    link(rel='stylesheet', href='stylesheets/main.css')
  body
    // inicio menu
    nav
      ul
        li.a_logo
          a(href='#', title='logo')
            img(src='images/logo-icon.png', alt='logo-novex')
        li.a_menu
          a(href='#', title='Servicios')
            img(src='images/face-icon-b.png', alt='facebook')
          a(href='#', title='Portafolio')
            img(src='images/tw-icon-b.png', alt='twiter')
    // fin menu
    // inicio header
    header#header.sub
      h1
        | BANCO DE EXAMENES
        br
        span unidos en la universidad
    // fin header
    // inicio contenido
    .a_contenido
      ul.todo
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 Parcial de BASE DE DATOS II
          p si tienes algun examen contactanos por facebook
          a(href='https://es.scribd.com/document/332397400/PARCIAL-Base-de-Datos') VER
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 Examen programacion paralela
          p si tienes algun examen contactanos por facebook
          a(href='https://es.scribd.com/document/332396431/Examen-Parcial-de-Programacion-Paralela') VER
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 Examen seminario de etica y sociedad
          p si tienes algun examen contactanos por facebook
          a(href='https://es.scribd.com/document/332396074/Examen-de-Seminario-de-Etica-y-Sociedad') VER
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 Examen Auditoria de sitemas
          p si tienes algun examen contactanos por facebook
          a(href='https://www.scribd.com/document/332395767/Examen-Auditoria-de-Sistemas') VER
      ul.todo
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 Examen parcial seguridad informatica
          p si tienes algun examen contactanos por facebook
          a(href='https://www.scribd.com/document/332395271/PARCIAL-DE-SEGURIDAD-INFORMATICA') VER
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 Examen legislacion informatica
          p si tienes algun examen contactanos por facebook
          a(href='https://es.scribd.com/document/332394875/EXAMEN-LEGISLACION-INFORMATICA') VER
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 1er Examen Parcial de Algoritmos Paralelos
          p si tienes algun examen contactanos por facebook
          a(href='https://es.scribd.com/document/333028839/1er-Examen-Parcial-de-Algoritmos-Paralelos') VER
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 2 Examen Parcial
          p si tienes algun examen contactanos por facebook
          a(href='https://es.scribd.com/document/333028956/2-Examen-Parcial') VER
      ul.todo
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 Segundo examen Compiladores 2013
          p Quieres saber como ganar puntos contactanos por facebook
          a(href='#') 23 puntos
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 Primer examen Analisis de sistemas
          p Quieres saber como ganar puntos contactanos por facebook
          a(href='#') 15 puntos
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 Segundo examen estructura de datos
          p Quieres saber como ganar puntos contactanos por facebook
          a(href='#') 17 puntos
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 Primer examen analisis II
          p Quieres saber como ganar puntos contactanos por facebook
          a(href='#') 10 puntos
    // fin contenido
    footer.footer
      p
        | Desarollado por
        span UNIVER
