doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title univer
    link(rel='stylesheet', href='stylesheets/main.css')
  body
    img(src='images/redco.png', alt='componente', rel='image_src', style='display: none;')
    // inicio menu
    nav
      ul
        li.a_logo
          a(href='#', title='logo')
            img(src='images/logo-icon.png', alt='logo-novex')
        li.a_menu
          a(href='https://www.facebook.com/uninver/', title='face')
            img(src='images/face-icon-b.png', alt='facebook')
          a(href='https://www.facebook.com/uninver/', title='twiter')
            img(src='images/tw-icon-b.png', alt='twiter')
    // fin menu
    // inicio header
    header#header.a_header
      h1
        | CRECIENCO CON CADA EXAMEN
        br
        span  unidos en la universidad
      a(href='#categorias', title='contactanos') Buscar examen
    // fin header
    #categorias.categoria
      h2 CATEGORIAS
      .laso
      li
        a.btn_o(href='/trabajo') TRABAJOS
        a.btn_o(href='/exame') EXAMENES
        a.btn_o(href='/practica') PRACTICAS
        a.btn_o(href='/silabu') SILABUS
    di.suscribe
      li
        a(href='#') Enviar
        input(type='text', name='email', placeholder='Email')
    footer.footer
      p
        | Desarollado por
        span UNIVER
