doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title examenes
    link(rel='stylesheet', href='stylesheets/main.css')
  body
    // inicio menu
    nav
      ul
        li.a_logo
          a(href='#', title='logo')
            img(src='images/logo-icon.png', alt='logo-novex')
        li.a_menu
          a(href='#', title='Servicios')
            img(src='images/face-icon-b.png', alt='facebook')
          a(href='#', title='Portafolio')
            img(src='images/tw-icon-b.png', alt='twiter')
    // fin menu
    // inicio header
    header#header.sub
      h1
        | BANCO DE Silabus
        br
        span unidos en la universidad
    // fin header
    // inicio contenido
    .a_contenido
      ul.todo
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 Silabu sistemas informarticos
          p si tienes algun examen contactanos por facebook
          a(href='https://es.scribd.com/document/332395065/Silabo-Sistemas-de-Informacion') VER
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 Silabu ingenieria de software
          p si tienes algun examen contactanos por facebook
          a(href='https://www.scribd.com/document/332394558/Silabo-IngSoft-II-2015') VER
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 Silabu dinamica de sitemas
          p si tienes algun examen contactanos por facebook
          a(href='https://www.scribd.com/document/332394352/Silabo-Dinamica-de-Sistemas') VER
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 Silabus investigacion operativa I
          p si tienes algun examen contactanos por facebook
          a(href='https://www.scribd.com/document/332393135/SILABO-de-Investigacion-Operativa-I-2016') VER
      ul.todo
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 Examen mecanica de fluidos
          p si tienes algun examen contactanos por facebook
          a(href='#') VER
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 Silabus metodologia de la investigacion
          p si tienes algun examen contactanos por facebook
          a(href='https://www.scribd.com/document/332392436/Silabos-de-Metodologia-de-La-Investigacion') VER
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 Silabus calculo numerico
          p si tienes algun examen contactanos por facebook
          a(href='https://es.scribd.com/document/333029170/ASilaboCalculoNumericoProfAmaya2013-A4') VER
    // fin contenido
    footer.footer
      p
        | Desarollado por
        span UNIVER
