doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title examenes
    link(rel='stylesheet', href='stylesheets/main.css')
  body
    // inicio menu
    nav
      ul
        li.a_logo
          a(href='#', title='logo')
            img(src='images/logo-icon.png', alt='logo-novex')
        li.a_menu
          a(href='#', title='Servicios')
            img(src='images/face-icon-b.png', alt='facebook')
          a(href='#', title='Portafolio')
            img(src='images/tw-icon-b.png', alt='twiter')
    // fin menu
    // inicio header
    header#header.sub
      h1
        | BANCO DE TRABAJOS
        br
        span unidos en la universidad
    // fin header
    // inicio contenido
    .a_contenido
      ul.todo
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 Monografia final de Matematica I
          p si tienes algun examen o parcticas contactanos por facebook
          a(href='https://www.scribd.com/document/332396904/Monografia-FINAL-de-Mate1') VER
        li.sub_cate
          img(src='http://image.flaticon.com/icons/svg/139/139083.svg', alt='icono-univer')
          h3 Informe carga electrica y ley de coulond
          p si tienes algun examen contactanos por facebook
          a(href='https://es.scribd.com/document/332396572/INFORME-FINAL-Carga-Electrica-y-Ley-de-Coulond') VER
    // fin contenido
    footer.footer
      p
        | Desarollado por
        span UNIVER
